.col-lg-9 {
    margin: 0 auto;
}

/* Ask, Answer 공통 속성 */
.Sname, .Tname {
    font-size: 18px;
    font-weight: 600;
}
.SPic img, .TPic img {
    width: 50px;
    height: 50px;
    margin: 0 20px 10px 20px;
}
.answer, .ask_card {
    margin-top: 5%;
    border: 3px solid rgb(177, 177, 177);
    border-radius: 20px;
    padding: 35px;
}

/* Ask */
.ask_card h2 {
    letter-spacing: 1px;
    line-height: 45px;
    padding-bottom: 50px;
}
.ask_content {
    padding: 5px 5px;
}

/* Answer */
.answer_content {
    padding-bottom: 5%;
}

/* Comment */
.comment_box {
    border: 2px solid rgb(177, 177, 177);
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    padding: 10px 0;
}
.sSPic img {
    width: 30px;
    height: 30px;
    margin: 5px 15px;
}
form {
    width: 100%;
    padding-bottom: 15px;
}
.comment_box p {
    margin: 2px 20px;
}
.date, .revise {
    font-size: 13px;
    margin-left: 2%;
    color: rgb(138, 138, 138);
}
.revise {
    color:rgb(0, 0, 0);
}


/* button */
#save {
    width: 12%;
    padding:2px;
    margin-left: 1%;
    border-radius: 15px;
    font-size: 13px;
    color: rgb(230, 230, 230);
    background-color: rgb(0, 0, 0);
}

/* 2-09 과외하기 버튼 */
#tutoring {
    float: right;
    width: 15%;
    padding:5px;
    font-size: 14px;
    color: rgb(230, 230, 230);
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
}

.comment_icon {
    display: inline-block;
    width: 8%;
    height: 6%;
    padding: 10px;
    margin-bottom: 2%;
    text-align: center;
}

/* modal */
.info {
    margin: 10px 0 0 57%;
    font-size: 14px;
    font-weight: 600;
}
.info .red {
    color: red;
}
.modal-body {
    padding-top: 0;
}
form div {
    padding: 5px 10px;
    font-weight: 600;
}

/* ck-editor 속성 설정 */
.ck-content {
    font-size: 14px;
    font-weight: 500;
}
.ck-editor__editable {
    height: 350px;
}
.ck-editor__main {
    padding: 0;
}

