
/*--------------------------------------------------------------

# 4. Buy hands

--------------------------------------------------------------*/


/*--------------------------------------------------------------
# 4-01. buy hands Section
--------------------------------------------------------------*/

/*---------------*/
/* 뒤로가기 버튼 */
.page-back img{
  float: right;
  display: block;
  width: 35px;
}
/*---------------*/

.buy-hands  {
  margin: 10% auto 5% auto;
  padding: 30px 60px;
  width: 1000px;
  text-align: center;
}
.buy-hands h1 {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  line-height: 42px;
}

.buy-link {
  margin: 5px;
  padding: 30px;
  display: inline-block;
  width: 380px;
  background-color: #f8f9fc;
  border-radius: 20px;
 }
.buy-link span {
  display: inline-block;
}
 .buy-link img {
  width: 50px;
  margin-right: 5px;
}
 .buy-link p {
  margin: 0; 
  font-size: 18px;
  font-weight: 600;
  color: #666666;
 }
 .buy-link i {
   margin: 0 10px;
 }
 .buy-link strong {
   font-size: 20px;
   font-weight: 900;
   color: #333333;
 }


/*--------------------------------------------------------------
# 4-02. Pay page Section
--------------------------------------------------------------*/

/* 공통 */
.pay-page {
  margin: 10% auto 5% auto;
  padding: 30px 60px;
  width: 1000px;
}
.pay-page h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}
.pay-table {
  width: 880px;
  margin-bottom: 50px;
}
.pay-table tr {
  border: solid 1px #dadada;
}
.pay-table td {
  margin: 10px;
  border: solid 1px #dadada;
}
.table-body{
  text-align: center;
  font-size: 16px;
}

/* 구매자정보 */
.buyer-info-title {
  padding: 10px;
  width: 100px;

  border: solid 1px #dadada;
  background-color: #f0f0f0;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.buyer-info-txt {
  padding: 10px;
  border: solid 1px #dadada;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* 상품정보 */
.product-info-title {
  padding: 10px;
  background-color: #f0f0f0;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.product-info-data{
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
}
#sum_p_price {
  margin-right: 30px;
}

#product-info img {
  width: 50px;
  margin-right: 5px;
}

.rowlist  {
  display: inline-block;
  /* float: left; */
  text-align: center;
  margin: 0;
  padding: 12px 0;
}

/* 총 금액 */
.total-amount-title {
  padding: 15px;
  background-color: #f0f0f0;
  font-size: 18px;
  font-weight: 600;
}
.total-amount-txt {
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
}
.payBtn {
  margin-top: 25px;
  width: 330px;
  height: 50px;
  color: white;
  background-color: #343646;
  border-radius: 5px;
  border: 1px solid #333333;
  font-size: 18px;
}