* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

a{
	color: black;
}

a:hover{
    font-weight: bold;
}


 /* .list-group-item a:active, a:visited{
    font-weight: bold;
} */

/* ============================= */
/*      버튼 배경색              */   
/* ============================= */
.bg-blue{
    background: #4154f1;
    color: #fff;
}

.bg-card{
    background-color: rgb(240, 240, 240);;
}

/* ============================= */
/*      기본정보(7-01,7-02)      */   
/* ============================= */

.profileImg img{
    border-radius: 50%;
    background-size: contain;
 }
 
 
 /* ============================= */
 /*      기본정보(7-03~7-05)      */   
 /* ============================= */
 /* 나의 질문글 테이블 패딩 */
 .table-padding thead tr th {
     padding: 15px 0;
 }
 
 .table-padding tbody tr th {
     padding: 15px;
 }
 
 .table-padding tbody tr td {
     padding: 15px 0;
 }
 
 .contents h3 {
     margin-bottom: 20px;
 }


/* ============================= */
/*        1:1문의하기 (7-6)      */   
/* ============================= */
/* 안내글 - 문의하기 버튼 */
.info{
    padding-bottom: 33px;
}
.info p {
    line-height: 150%;
    padding-bottom: 30px;
}

/* ============================= */
/*      1:1문의 리스트 (7-6)      */ 
/* ============================= */  
/* Q 아이콘 */
.list i {
    padding-left: 20px;
    padding-top: 5px;
}

/* 답변대기 상태 박스 */
.state1 {
    background-color: #77797e;
    color: white;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
}

/* 답변 완료 상태 박스 */
.state2 {
    background-color: #6372f9;
    color: white;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    margin: 10px 0;  
}
/* ============================= */  


/* ============================= */
/*          1:1문의 (7-7)        */ 
/* ============================= */  

/* 제목&내용 전체박스 */
.question, .answer{
    border: solid rgb(157, 157, 157);
    margin: 10px 0;
    border-radius: 3px;
}

/* 문의/답변 글제목 */
.titlebox{
    line-height: 40px;
    padding: 15px 0;
}

/* 문의/답변 내용 글상자 */
.question .contentbox, .answer .contentbox {
    background-color: #e4e4e481;
    height: 200px;
    margin-bottom: 20px;
}

/* 문의/답변 내용 */
.content {
    margin: 25px;
    display: inline-block;
    word-break: break-all;
}
/* ============================= */


/* ============================= */
/*     회원탈퇴 (7-8, 7-9)       */ 
/* ============================= */  

/* 회원탈퇴 안내 내용 */
.content7-8 {
    padding-bottom: 15px;
}

/* 회원탈퇴 완료내용 */
.content7-9 {
    padding: 110px 40px;
}

/* 비밀번호 입력창 글자 크기  */
#inputPassword{
    font-size: 12px;
  }

/* 탈퇴하기 모달 버튼 */
.unregisterBtn {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 13px;
}

/* .was-validated {
    color: #77797e !important;
    border-color: #77797e !important; ;
} */

#inputPassword {
    color: #77797e!important;
}

/* ============================= */  



/* ============================= */
/*        출금하기 (7-15)         */ 
/* ============================= */  
#withdrawTitle {
    padding-bottom: 30px;
}

/* 튜터 보유 자산 박스 */
.withdrawInfo {
    border: solid 0.5px;
    border-color: #cbcbcb;
    border-radius: 10px;
    box-shadow: 5px 5px 18px rgba(217, 216, 221, 0.4);
    padding: 40px 0 25px;
    margin-bottom: 35px;
}

/* 손들기 개수 */
.ownHands {
    font-size: 16pt;
    text-align: end;
    margin: 10px 0;
    padding: 0 5px;
}

/* 손들기 금액 */
.withdrawInfo .price {
    font-size: 11pt;
    color: rgb(103, 102, 102);
    line-height: 40px;
    text-align: start;
    margin: 10px 0;
    padding: 0 5px;
}

/* 출금 계좌 입력 폼 */
#account {
    margin-top: 40px;
    margin-bottom: 30px;
}

/* 출금 수량 입력폼 */
#amount {
    margin-top: 2px;
    margin-bottom: 40px;
}

#account label, #amount label {
    text-align: start;
    font-size: 12pt;
    line-height: 40px;
}

/* 일일 최대 출금 가능 수량  */
.max_amount {
    font-size: 9pt;
    color: #69696b;
    text-align: end;
    margin: 0;
}

/* 출금 수수료 */
#fee {
    margin: 24px 0;
}

.fee {
    line-height: 30px;
    text-align: start;
    padding: 0;
}

.won {
    text-align: end;
    font-size: 20px;
}

/* 출금 유의사항 */
.check {
    padding: 15px 0;
    margin: 24px 0;
    background-color: #f7f7fb;
    border-radius: 2px;
}

.check i {
    color: #959698;
    margin: 0 20px 0 15px;
    line-height: 19px;
}

.check h6 {
    margin: 15px;
}

.check li {
    font-size: 12px;
    line-height: 170%;
    color: #77797e;
}

/* 취소 버튼 */
#cancel:focus {
    box-shadow: none;
    background-color: white;
}

#cancel:hover {
    color: black;
    background-color: white;
    border-color: #1a1e21;
}

/* 신청 버튼 */
#apply:focus {
    box-shadow: none;
}

/* ============================= */
/*        출금완료 (7-16)        */ 
/* ============================ */  
.completed {
    margin: 100px 0;
}

.completed i {
    text-align: center;
    color: rgb(96, 169, 103);
    margin-top: 100px;
    margin-bottom: 25px;
}

.completed p {
    text-align: center;
    line-height: 230%;

}
