<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.fmt.mapper.FaqMapper">

	<!-- 자주묻는 질문과 답 목록 전체 조회(페이징) -->
	<select id="selectAllFaqList" resultType="org.zerock.fmt.domain.FaqVO">
		SELECT /*+ index_desc(tbl_faq)*/ * 
		FROM tbl_faq
		OFFSET (#{currPage} - 1) * #{amount} rows
		FETCH NEXT #{amount} ROWS ONLY
	</select>


	<!-- 자주묻는 질문과 답 생성 -->
    <insert id="insertFaq">
        INSERT INTO tbl_faq 
        VALUES ( faq_num.NEXTVAL, #{ad_id}, #{faq_title}, #{faq_content} )
        <!-- faq_number는 일단 시퀀스로 생성해 봤습니다. -->
    </insert>
    
    
    <!-- 자주묻는 질문과 답 수정 -->
    <update id="updateFaq">
    	UPDATE tbl_faq 
    	SET <if test="ad_id != null"> ad_id = #{ad_id}, </if>
    		<if test="faq_title != null"> faq_title = #{faq_title}, </if>
    		<if test="faq_content != null"> faq_content = #{faq_content} </if>
    	WHERE faq_number = #{faq_number}
    </update>

</mapper>