<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.fmt.mapper.MypageMapper">

	<!-- ============<<SELECT>>============ -->
	<!-- 1. 나의 질문글 목록 조회 페이징 처리(내림차순으로) -->
	<select id="selectAllMyQuestionList" resultType="org.zerock.fmt.domain.QuestionBardVO">
		SELECT * 
		FROM (SELECT /*+ index_desc(tbl_question_board)*/ * 
      		  FROM tbl_question_board
      		  WHERE user_email = #{user_email})
		OFFSET (#{currPage} - 1) * #{amount} rows
		FETCH NEXT #{amount} ROWS ONLY
	</select>
	
		<!-- 2. 나의 커뮤니티 작성글 목록 조회 페이징 처리(내림차순으로) -->
	<select id="selectAllMyCommunitytList" resultType="org.zerock.fmt.domain.CommunityVO">
		SELECT * 
		FROM (SELECT /*+ index_desc(tbl_community)*/ * 
      		  FROM tbl_community
      		  WHERE user_email = #{user_email})
		OFFSET (#{currPage} - 1) * #{amount} rows
		FETCH NEXT #{amount} ROWS ONLY
	</select>
	
	<!-- 3. 나의 댓글 목록 조회 페이징 처리(내림차순으로) -->
	<select id="selectAllMyCommentList" resultType="org.zerock.fmt.domain.CommentVO">
		SELECT * 
		FROM (SELECT /*+ index_desc(tbl_comment)*/ * 
      		  FROM tbl_comment
      		  WHERE user_email = #{user_email})
		OFFSET (#{currPage} - 1) * #{amount} rows
		FETCH NEXT #{amount} ROWS ONLY
	</select>
	
    
    <!-- ============<<UPDATE>>============ -->
    <!-- 기본정보 수정 -->
    <update id="updateUserInfo">
		UPDATE tbl_user
		<set>
            <if test="user_pw != null">     user_pw=#{user_pw},</if>
            <if test="user_nick !=null">    user_nick=#{user_nick},</if>
            <if test="user_name !=null">    user_name=#{user_name},</if>
            <if test="user_gender !=null">  user_gender=#{user_gender},</if>
            <if test="user_birth !=null">   user_birth=#{user_birth},</if>
            <if test="user_phone !=null">   user_phone=#{user_phone},</if>
            <if test="st_school !=null">    st_school=#{st_school},</if>
            <if test="st_grade !=null">     st_grade=#{st_grade},</if>
            <if test="tt_school !=null">    tt_school=#{tt_school},</if>
            <if test="tt_subject !=null">   tt_subject=#{tt_subject},</if>
            <if test="tt_depart !=null">    tt_depart=#{tt_depart}</if>
        </set>
		WHERE user_email = #{user_email}
    </update>

</mapper>